body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #333;
}

.navbar {
  background-color: #f8f8f8;
  padding: 20px;
}

.jumbotron h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.card {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
}
